/* Main Page */



body{
    background-color: #1F877C;
    

}

@font-face {
  font-family: "MasterofCustom";
  src: url("./Fonts/MasterofCustom.ttf") format("truetype");
}


h1{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

h2{
    color: white;
    text-align: center;
}

h3{
    color: white;
    src: url(./Fonts/MasterofCustom.ttf) format("truetype");
    font-family: "MasterofCustom";
    font-style: italic;
    font-size: xx-large;
    letter-spacing: 2px;
    font-weight: normal;
    text-align: center;
    
}




.buttons button{
    background-color: rgb(4, 217, 255);
    color: white;
    margin: 10px;
    border-radius: 15%;
    border: white;
    padding: 12px 20px;
    

}


footer{

    position: fixed;
    bottom: 20px;
    right: 15px;

}

/* NAV BAR */

ul {
    text-decoration: none;
    color: aliceblue;
    display: flex;
    list-style: none;
    justify-content: space-around;
    padding: 0;

    
    
}



/* Calorie Tracker */

.CT-container {
    position:absolute;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
    display: flex;
    justify-content: center;  
    align-items: center;      
    height: 80vh;
    width: 100px;
    
}

.CT {
    text-align: center;

}


/* BMI Calculator */

img {
    height: 200px;
    position: absolute;
    top:350px;
    left: 550px;
}


/* CALCULATORS */

.CALCButtons{

    background-color: rgb(4, 217, 255);
    color: white;
    margin: 10px;
    border-radius: 15%;
    border: white;
    padding: 12px 20px;
    display: flex;
    justify-content: space-around;

}