body{
    background-color: #1F877C;

}

@font-face {
  font-family: "MasterofCustom";
  src: url("./Fonts/MasterofCustom.ttf") format("truetype");
}


h1{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}



h3{
    color: white;
    src: url(./Fonts/MasterofCustom.ttf) format("truetype");
    font-family: "MasterofCustom";
    font-style: italic;
    font-size: xx-large;
    letter-spacing: 2px;
    font-weight: normal;
    text-align: center;
    
}


div {
    border-radius: 50%;
    height: 200px;
    width: 200px;
}



.buttons button{
    background-color: rgb(4, 217, 255);
    color: white;
    margin: 10px;
    border-radius: 15%;
    border: white;
    padding: 12px 20px;
    display: flex;

}


footer{

    position: fixed;
    bottom: 20px;
    right: 15px;

}